outputs/*** filter=lfs diff=lfs merge=lfs -text
outputs/demucsdouble_vibravox/ filter=lfs diff=lfs merge=lfs -text
outputs/demucs_vibravox/ filter=lfs diff=lfs merge=lfs -text
outputs/demucsdouble.causal=1,dset=valentini_method2/ filter=lfs diff=lfs merge=lfs -text
outputs/demucsdouble.causal=1,dset=valentini_method1/ filter=lfs diff=lfs merge=lfs -text
outputs/*** filter=lfs diff=lfs merge=lfs -text
outputs/*** filter=lfs diff=lfs merge=lfs -text
outputs/*** filter=lfs diff=lfs merge=lfs -text
outputs/*** filter=lfs diff=lfs merge=lfs -text
outputs/*** filter=lfs diff=lfs merge=lfs -text
